@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Contrail+One&family=Koulen&family=Oleo+Script&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.7);
  --spacing: 45vh;
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Contrail One', cursive; */
  /* font-family: 'Koulen', cursive; */
  font-family: 'Oleo Script', cursive;

  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



header {
  background: var(--dark-bg);
  font-size: 2.5rem;
  padding: 2rem;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

section {
  margin-bottom: var(--spacing);
  margin-right: 35%; 
  margin-left: 35%; 
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
}

#first {
  margin-top: 80vh;
}